@font-face {
	font-family: "JellykaTextual";
	src: url('../images/jellyka_le_grand_saut_textual/le_Grand_Saut_TEXTUAL.ttf');
}

@font-face {
	font-family: "Jellyka";
	src: url('../images/jellyka_le_grand_saut_textual/le_Grand_Saut.ttf');
}

body
{
	font-family:Arial;font-size:15px;
	background-color	: #563920;
	text-align:center;
}

* {margin:0px;padding:0px;}

a {text-decoration:none;}
a:hover {text-decoration:underline;}

.beigeGiuseppe {color: #b48e62;}
.white {color:#ffffff;}
.brunfonce {color: #441e0f;}
.brun {color : #681f02;}
.brunclair {color :#913511;}
.vertclair {color: #accf8d;}
.vert2 {color: #65a131;}
.vertmoyen {color: #74a34b;}
.vertfonce {color: #092001;}
.windsize {width:1280px;height:768px;}

/* Le conteneur0, dimensionné et position au milieu (margin auto), destiné à afficher la carte complète en fond */
/* Le conteneur1, dimensionné et mis dans le premier, positionné en relatif par rapport au premier avec l'image de fond */


#conteneur0 {
	width:1280px;height:800px;margin:auto;margin-top:5px;
	background-image	: url('../images/carte.png');
	background-repeat	: no-repeat;
	background-position	: 0px 0px; 
}

#conteneur1 {
	width:1280px;height:768px;position:relative;
	background-image	: url('../images/gamebackground.png');
	background-repeat	: no-repeat;
	background-position	: center;
}

#menuUpright, #menuUpleft {position:absolute;}
#menuUpright {
	background-image	: url('../images/background_menuUpright.png');
	background-repeat	: no-repeat;
	background-position	: center;
	width: 185px; height:400px;
	top: 65px; right: 20px; 
}
#menuUpright a {
	font-family: Jellyka;font-size:48px;color:#978060;
}
#menuUpright a:hover {
	color:#ffffff;
}

p.lienUpright, p.lienUprightbl {
	margin-left:40px;text-align:left;
}

p.lienUpright {
	margin-top:3px;
}

p.lienUprightbl {
	margin-top:10px;
}

#menuUpright p.lienUprightbl a {
	font-family: Jellyka;font-size:48px;color:#ffffff;
}

#menuUpright p.lienUprightbl a:hover {
	color:#c3a67b;
}


#menuUpleft {
	top:92px;left:8px;
}
#menuUpleft span {margin-left:10px;}

a.lienUpleft {font-size:12px;font-weight:bold;color:#555555;}
a.lienUpleft:hover {color:#743b1f;}

#contenant {position:relative;
	width:778px;height:598px;
	border:1px solid #333333;
	background-color:#c3a67b;
	top:10px;margin-left:250px;}

#corps
{
	position:relative;width:730px;
	margin-left		: 20px; 
	margin-top : 20px; 
}

#menuBottom {
	position:absolute;bottom:2px;
	left: 265px; width:748px;
	text-align:center;
}
#menuBottom span {
	margin-left:40px;
}

#menuBottom a {
	font-family: Jellyka;font-size:32px;color:#4a220f;
}

#menuBottom a:hover {
	color:#976c30;
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) : */
#pied_de_page
{
	padding-left : 10px;top: -10px;
	text-align	: left;
	font-size	: 11px; color: #ffffff;
	width:1260px;
}
