  #centre > #contenu {
    background-image: url(../images/jeu/cadre.png), url(../images/jeu/carte_background.jpg);
    background-position: 0px 0px, 54px 16px;
    background-repeat: no-repeat;
    height: 790px;
    width: 1085px;
    position:relative;
    top: 30px;
    left: 98px;
    float: left;
  }
  
.panneau_carte {position:relative;width:840px;height:600px;border:1px solid green;}
#plage_jeu {width:100%;height:100%;overflow:hidden;position:relative;border:1px solid blue;margin:auto;}
div.panzoom {position:relative;width:100%;height:100%;}
#plage_jeu_1, #plage_jeu_2 {position:absolute;top:0;left:0;width:900px;height:650px;}		//   NB: les largeur et hauteur seront changées par javascript
#plage_jeu_1 {
	z-index:0;
	opacity:0.05;
	filter:alpha(opacity=5); /* For IE8 and earlier */
	}
img#carte {width:100%;height:auto;}