/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/

	#centre > #contenu {
		background-image: url(../images/compte/background.png);
		background-repeat: no-repeat;
		height: 550px;
		width: 600px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
	}

	.titre {
		font-size: 30px;
		font-weight: bold;
		font-family: 'bilbo_swash_capsregular';
		color: #330000;
		text-align: center;
		line-height:98px;
	}

	.image_fermer {
		height: 36px;
		width: 37px;
		float:right;
		margin-top: -68px;
		margin-right: 10px;
	}

	form {
		margin-top: -20px;
		margin-left: 40px;
	}

	form > div {
		font-weight: bold;
		font-family: 'bilbo_swash_capsregular';
		font-size: 20px;
		color: #330000;
	}

	input {
		background-color: transparent;
		border-width: 1px;
		border-color: #330000;
	}

	textarea {
		width: 370px;
		height: 100px;
		background-color: transparent;
		border-width: 1px;
		border-color: #330000;
		resize:none;
	}
	
	.bouton_valider {
		height: 41px;
		width: 124px;
		display: block; 
		margin-top: 5px;
		margin: 0 36px 0 0;
		float: right; 
	}

	.lien_supprimer {
		height: 41px;
		width: 162px;
		display: block; 
		margin: -30px 18px 0 0;
		float: right; 
	}
