 .lien_facebook {
   		position: relative;
    	left: 418px;
    	top: 38px;

  	}

  	.image_logo{
  		display: block;
  		margin: -32px auto;
  	}

  	.lien_rss {
    	position: relative;
    	left: 820px;
    	bottom: 42px;
  	}

	#centre > #contenu {
		background-image: url(../images/messagerie/background.png);
		background-repeat: no-repeat;
		height: 597px;
		width: 734px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px
	}

	.titre {
		font-size: 32px;
		font-weight: bold;
		font-family: 'hegoa_regular';
		color: #330000;
		text-align: center;
		line-height: 106px;
	}

	.lien_fermer {
		float:left;
		margin: -72px 0 0 660px;
	}

	 .onglet_receive {
    	height: 50px;
    	width: 675px;
    	background-image: url(../images/messagerie/onglet.png);
		background-repeat: no-repeat;
		margin: 0 auto;
	}

  	.onglet_send {
    	height: 50px;
    	width: 675px;
    	background-image: url(../images/messagerie/onglet_send.png);
		background-repeat: no-repeat;
		margin: 0 auto;
	}

  	.onglet_delete {
    	height: 50px;
    	width: 675px;
    	background-image: url(../images/messagerie/onglet_delete.png);
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	.lien_ajouter {
		float:left;
		margin: 8px 0 0 38px;
	}

	.lien_receive {
		display: inline-block;
		font-weight: bold;
		font-family: 'hegoa_regular';
		font-size: 28px;
		color: #330000;
		text-decoration: none;
		margin: 12px 0 0 64px;

	}

	.lien_send {
		display: inline-block;
		font-weight: bold;
		font-family: 'hegoa_regular';
		font-size: 28px;
		color: #330000;
		text-decoration: none;
		margin: 0 0 0 120px;
	}

	.lien_delete {
		display: inline-block;
		font-weight: bold;
		font-family: 'hegoa_regular';
		font-size: 28px;
		color: #330000;
		text-decoration: none;
		margin: 0 0 0 120px;
	}

.contenu_messagerie {
    	width: 700px;
    	height: 500px;
    	margin-left: auto;
 		margin-right: auto;
    margin-top: 100px;
  	}

 	#bouton_prev {
		width: 40px;
  		height: 450px;
  		margin: -30px 0 0 20px;
  	}

  	.image_prev {
  		margin: 100px 0 0 0;
  	}

  	.liste_message {
    	width: 600px;
    	height: 450px;
    	margin-left: auto;
 		margin-right: auto;
 		margin-top: -486px;
  	}

 	#bouton_next {
		width: 40px;
 		height: 450px;
 		margin: -412px 0 0 632px;
  	}

  	.image_next{
  		margin: 100px 0 0 0;
  	}

  	#numerotation {
    	font-weight: bold;
		font-family: 'hegoa_regular';
		font-size: 28px;
		color: #330000;
		height: 50px;
		width: 600px;
		margin-left: auto;
 		margin-right: auto;
 		text-align: center;
 	}