   .lien_facebook {
    	position: relative;
    	left: 418px;
    	bottom: 22px;
  	}

  	.image_logo{
   	 	position: relative;
    	left: 471px;
    	top: 16px;
  	}

  	.lien_rss {
    	position: relative;
    	left: 533px;
    	bottom: 22px;
  	}

	#centre > #contenu {
		position: relative;
		top:  76px;
		left: 341px;
		background-image: url(../images/compte/background.png);
		background-repeat: no-repeat;
		height: 600px;
		float: left;
		width: 700px;
		margin: 0px auto;
	}

	.titre {
		position: relative;
		left: 242px;
		top: 26px;
		font-size: 32px;
		font-weight: bold;
		font-family: 'hegoa_regular';
		color: #330000;
	}

	.image_fermer {
		position:relative;
		bottom: 9px;
		left: 556px;
	}

	form {
		position: relative;
		top: 10px;
		left: 77px;
	}

	form > div {
		position: relative;
		font-weight: bold;
		font-family: 'hegoa_regular';
		font-size: 22px;
		color: #330000;
	}

	input {
		position: relative;
		background-color: transparent;
		border-width: 1px;
		border-color: #330000;
	}

	textarea {
		position: relative;
		background-color: transparent;
		border-width: 1px;
		border-color: #330000;
	}

	.bouton_valider {
		position: relative;
		top: 61px;
		right: 424px;
	}

	.lien_supprimer {
		position: relative;
		top: 24px;
		left: 360px;
	}
