/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/
  	
	#centre > #contenu {
		background-image: url(../images/compte_suppression/background.png);
		background-repeat: no-repeat;
		height: 463px;
		width: 492px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
	}

	.titre {
		font-size: 30px;
		font-weight: bold;
		font-family: 'kleymisskyregular';
		color: #330000;
		text-align: center;
		line-height:98px;
		
	}
	
	.image_fermer {
		height: 36px;
		width: 37px;
		float:right;
		margin-top: -68px;
		margin-right: 10px;
	}
	
	.texte {
		font-weight: bold;
		font-family: 'kleymisskyregular';
		font-size: 26px;
		color: #330000;
		text-align: center;
		line-height: 33px;
	}
	
	.image_valider {
		height: 38px;
		width: 136px;
		display: block; 
		margin: 45px auto; 
	}
	



