/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/

	.lien_facebook {
   		position: relative;
    	left: 418px;
    	top: 38px;
    	
  	}

  	.image_logo{
  		display: block;
  		margin: -32px auto;
  	}

  	.lien_rss {
    	position: relative;
    	left: 820px;
    	bottom: 42px;
  	}
  	
	#centre > #contenu {
		background-image: url(../images/choix_peuple_voir/background.png);
		background-repeat: no-repeat;
		height: 668px;
		width: 800px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
	}
	.titre {
		font-size: 32px;
		font-weight: bold;
		font-family: 'hegoa_regular';
		color: #330000;
		text-align: center;
		line-height: 100px;
	}

	.image_fermer {
		float:right;
		height: 36px;
		width: 37px;
		margin: -70px 6px 0 0;
	}

	.image_humain {
		
	}

	.image_bunsif {
	}

	.image_sulmis {
		
	}

	.image_nhymsine {
	}
	
	.image_valider{
		height: 48px;
		width: 166px;
		display: block; 
		margin: 480px auto; 
	}


