/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/

	.image_facebook {
		height: 40px;
		width: 40px;
   		position: relative;
    	left: 418px;
    	top: 38px;
    	
  	}

  	.image_logo{
  		height: 100px;
		width: 239px;
  		display: block;
  		margin: -32px auto;
  	}

  	.image_rss {
  		height: 40px;
		width: 40px;
    	position: relative;
    	left: 820px;
    	bottom: 42px;
  	}

	#centre > #contenu {
		background-image: url(../images/tdb/background.png);
		background-repeat: no-repeat;
		height: 600px;
		width: 797px;
		margin-left: auto;
 		margin-right: auto;
 		margin-top: 76px;
	}

	.image_compte {
		height: 51px;
		width: 70px;
		float:left;
		margin-top: -76px;
		margin-left: 38px;
	}

	.titre {
		font-size: 30px;
		font-weight: bold;
		font-family: 'Kleymissky';
		color: #330000;
		text-align: center;
		line-height:116px;
	}
	
	.image_fermer {
		height: 36px;
		width: 37px;
		float:right;
		margin-top: -87px;
		margin-right: 32px;
	}

	.djun {
		position: relative;
		background-image: url(../images/tdb/cadre_djun.png);
		background-repeat: no-repeat;
		float: left;
		height: 180px;
		width: 180px;
		top: 96px;
		left: 36px;
	}

	.image_choix_djun {
		height: 100px;
		width: 101px;
		position: relative;
		top: 40px;
		left: 42px;
	}

	p.choix {}
