.cadre_caracteristiques{
  background-image: url(../images/jeu/hua/hero/equiper/background_caracteristiques.png);
  background-repeat: no-repeat;
  height: 280px;
  width: 266px;
  margin: 0px 0px 0px 0px;
}