/*/////////////////////////////////
//    Auteur : Chris Fromont	//
////////////////////////////////*/


/*LES POLICES*/

	@font-face {
    font-family: 'hegoa_regular';
    src: url('../font/tangerine_regular-webfont.eot');
    src: url('../font/tangerine_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/tangerine_regular-webfont.woff') format('woff'),
         url('../font/tangerine_regular-webfont.ttf') format('truetype'),
         url('../font/tangerine_regular-webfont.svg#tangerineregular') format('svg');
    font-weight: normal;
    font-style: normal;
  	}
  
      @font-face {
    font-family: 'kleymisskyregular';
    src: url('../font/kleymissky-webfont.eot');
    src: url('../font/kleymissky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kleymissky-webfont.woff2') format('woff2'),
         url('../font/kleymissky-webfont.woff') format('woff'),
         url('../font/kleymissky-webfont.ttf') format('truetype'),
         url('../font/kleymissky-webfont.svg#kleymisskyregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
  
	@font-face {
    font-family: 'bilbo_swash_capsregular';
    src: url('../font/bilboswashcaps-regular-webfont.eot');
    src: url('../font/bilboswashcaps-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bilboswashcaps-regular-webfont.woff2') format('woff2'),
         url('../font/bilboswashcaps-regular-webfont.woff') format('woff'),
         url('../font/bilboswashcaps-regular-webfont.ttf') format('truetype'),
         url('../font/bilboswashcaps-regular-webfont.svg#bilbo_swash_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
  
/*  classes générales de couleur */
.colvert1 {color:#215e0b;}

/*  classes générales de font size */
.ftsz1p3em {font-size:1.3em;}


/*HEADER*/

	#page > #header {
    	margin: 0px auto;
    	height: 100px;
		width: 1280px;
	}

	#page > #header_outside {
    	margin: 0px auto;
    	height: 100px;
		width: 1280px;
	}

	.lien_facebook {
   		position: relative;
    	left: 418px;
    	top: 38px;
  	}

  	.image_logo{
  		display: block;
  		margin: -32px auto;
  	}

  	.lien_rss {
    	position: relative;
    	left: 820px;
    	bottom: 42px;
  	}
  	
  	
/*BODY*/

  	html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFFFFF;
		font-family: bilbo_swash_capsregular,"trebuchet MS";
		font-size: 12px;
		font-weight: 400;
		background-color: black;
	}

	img
	{
		border:0px;
	}

	#page
	{
		background-image: url(../images/accueil_background.jpg);		/*Image du fond*/
    	background-repeat: no-repeat;
    	margin: 0px auto;
		height: 1124px;
		width: 1280px;
	}

  	#page > #centre {
    	margin: 0px auto;
		height: 1024px;
		width: 1280px;
    	border: 2px;
	}
	
	
/*FOOTER*/

	#page > #footer {
		background: #FF0000;
		height: 100px;
	}



