/*
	Pages Accueil ...
*/
	


/*
 *	Pages connexion ...
 */
	.form_connexion > .account_password_label {
		font-weight: bold;
		font-family: 'bilbo_swash_capsregular';
		font-size: 24px;
		color: #330000;
		margin: 16px 0 0 48px;
	}