body
{
	background-image	: url('../images/game/decoraccueil.jpg'), url('../images/game/secondbckgraccueil.png');
	background-repeat	: no-repeat, repeat;
	background-color	: #82988b;
}

.brunfonce {color: #441e0f;}
.brun {color : #681f02;}
.brunclair {color :#913511;}
.vertclair {color: #accf8d;}
.vert2 {color: #65a131;}
.vertmoyen {color: #74a34b;}
.vertfonce {color: #092001;}


/* En-tête */
#banniere
{
	height				:150px;
	background-color	:#F5F5F5;
}

#logo {
	float				: left;
	width				: 250px;
	height				: 150px;
	background-color	:#CCCCCC;
}

#connexionforum {
	position			: absolute;
	top					: 10px;
	height				: 20px;
	right				: 20px;
	background-color	:#FFFFFF;
	font-size			: 12px;
}

#son {
	position			: absolute;
	top					: 40px;
	height				: 10px;
	right				: 20px;
	background-color	:#FFCCCC;
	font-size			: 12px;
}


/* La navigation */
#navigation
{
	margin-top			: 20px;
	height				: 100px;
}
a.menuhome {
	padding-left		: 10px;
	padding-right		: 10px;
	color				: #444444;}
	
a.menuhome:hover {
	color				: #666666;}

/* Le corps de page (la partie principale quoi ^^) : */
#corps
{
	margin-top			: 10px;
	margin-bottom		: 10px;
	padding:10px;
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) : */
#pied_de_page
{
	padding				: 10px;
	text-align			: left;
	font-size			: 11px;
}
