<!DOCTYPE html>
<html>
	<head>
		<title>Libertribes {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% stylesheets output='css/am.min.css' 
			'css/*' 
			%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
		{% endstylesheets %}
		{% block stylesheet %}
		{% endblock %}
		{% javascripts
			'js/*'
			%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}


	</head>
	
	<body>
		<div id="logo"> 
		</div>
		<div id="sonetconnexion">
			<div id="connexion">
				{% block connexion %}{% endblock %}
			</div>
			<div id="son">
				<audio controls tabindex="0">
					<source type="audio/mpeg" src="musique/humans.mp3"/>				
				Sorry, your browser does not support HTML5 audio.
				</audio>
			</div>
		</div>
		<div id="banniere">
			{% block entete %} 
			{% endblock %}
		</div> 
		<div id="contenant">
			<div id="navigation">
				{% block navigation %} 
				{% endblock %}	
			</div>
			<div id="corps">
		
				{% block body %}
				{% endblock %}
			</div> 
		</div>
		<div id="pied_de_page">
			<span class='bold'>Copyright:</span><br/>
			L'ensemble de ce travail, basé sur l’œuvre de  Cédric Bacconnier, Samuel Laï, Nicolas Darras, Julien Hilmoine est sous Copyleft : cette œuvre est libre, vous pouvez la redistribuer et/ou la modifier selon les termes de la Licence Art Libre. Vous trouverez un exemplaire de cette Licence sur le site Copyleft Attitude http://www.artlibre.org/ ainsi que sur d'autres sites.
		</div>
		{% block javascript %}
		{% endblock %}
	</body>
</html>
