{% extends "LibertribesJeuBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Accueil{% endblock %}

{% block navigation %}

	<h2>Ici la navigation</h2>
	

	
{% endblock %}
{% block body %}

	<h2>Corps de l'Accueil</h2>
	

	
{% endblock %}
