{% extends 'LibertribesForumBundle::layout_forum.html.twig' %}
    {% block title %} {{ parent() }}Welcome{% endblock %}
    {% block javascripts %}{% endblock %}
	{% block content %}
		{% if results|length > 0 %}
	    {% for result in results %}
		<div class="eachcategory">
			<div class="titrecategory">
				{% render "LibertribesForumBundle:Topic:findById" with {'topicid':result.topicid} %}
			</div>
			<div class="presentcategory">
				<table>
					<tr>
						<td>{{result.message}}</td><td>publié par {{result.author}}</td><td>le {{result.createdAt|date('Y-m-d H:m:i')}}</td>
					</tr>
				</table>
			</div>
		</div>
		{% endfor %}
		{% else %}
		  Il n'y a pas encore de notes
		{% endif %}

	{% endblock %}