body {
	background-color:#163746;
	text-align:center;
	font-size:15px;
	font-family:arial;
	color:#163746;
}

a {text-decoration:none; color:#163746; font-weight:bold;}
a:hover {text-decoration:underline;color:#6f909d;}

.bleugristresfonce  {color:#163746;}
.bleugrisfonce  {color:#4c6c7b;}
.bleugrismoyen {color:#6f909d;}
.bleugrisclair  {color:#ced5d6;}
.width200 {width:200px;}

div {position:relative;}

* {margin:0px; padding: 0px;}

h1 {font-size:30px;margin-top:5px;margin-bottom:10px;}

table.posts {border-collapse:separate;border-spacing:7px 20px;width:100%;}
table.posts td {color:#ced5d6;border:1px solid #ced5d6;padding:5px;background-color:#2d5669;}
table.part100pc {width:100%;}
td.part70pc {width:70%;padding:5px;}
td.part15pc {width:15%;padding:5px;}

#positionneur {
	width:1280px;
	margin:auto;
}

#forumbanner, #forummenu, #forumbody,  #searchback {float:left;
	width : 1280px; padding : 15px;
	border	: 2px solid #6f909d;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
	background-color: #ffffff;margin-top:10px;
}


#connexion  {
	position : absolute;
	right : 20px; top : 20px; font-size : 12px; font-style : italic;
}

#searchback, #forumbody {
	text-align: left;
}
#searchback {
	height:30px;
}
#formsearch, #linkback {
	float:left;
}
#formsearch  {
	margin-left:20px;
}
#linkback {
	margin-left:70px;
}

#linkback a {
	font-size: 20px; font-style: italic;
}


#forumbanner, #forummenu  {
	text-align: center;
}



.eachcategory {float:left;
	border	: 1px solid #ced5d6;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
	background-color:#4c6c7b;color: #ced5d6;
	padding: 10px;
	margin-bottom: 10px; width:1200px;
}
.titrecategory, .presentcategory, .list_categories {float:left;}
.titrecategory, .presentcategory {width:1200px;}
.list_categories {margin-left:10px;margin-right:10px;}

.titrecategory {font-size:20px;font-weight:bold;background-color:#163746;color:#ced5d6;}

.list_categories  a {
	font-size:20px;font-style:italic;font-weight:bold;color: #ced5d6;
}
.list_categories  a:hover {
	color:#6f909d;
}

div.listcat {float:left;
	border	: 1px solid #ced5d6;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
	background-color:#4c6c7b;color: #ced5d6;font-size:12px;
	padding:5px;margin-left:30px;
}


div#cat0, div#cat1, div#cat2, div#cat3, div#cat4, div#cat5, div#cat6 {
	position:absolute;top:30px;left:5px;display:none;
	border	: 1px solid #ced5d6;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
	background-color:#4c6c7b;color: #ced5d6;
	text-align:left;padding:3px;z-index:50;
}

#createnewtopic {
	float:right; right:50px;
}

#fornewsubject {
	display: none;
	margin-top:10px;
}

#message2send {
	display: none;
	margin-top:15px;
}

.presentcategory  a {
	font-size:16px;color:#a1babe;
}
.presentcategory  a:hover {
	color:#ced5d6;
}

.titresintable {
	font-size: 17px;font-weight:bold;
}
