{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} Jeu{% endblock %}
{% block javascripts %} 
	<script type='text/javascript' src='../../../../../Resources/public/libjs/jquery-1.6.4.min.js'></script>
	<script type='text/javascript' src='../../../../../Resources/public/libjs/libertribes.js'></script>
{% endblock %}
{% block entete %}
	<div id="banniere">
		<div id="logo">
			LOGO
		</div>
		<div id="connexionforum">
			Infos connexions et Vers Forum
		</div>
		<div id="son">
			Barre son
		</div>
	</div>
{% endblock %}
