* {
    padding     : 0;
    margin      : 0; 
	position:relative;
}

body
{
	font-family			: arial;
	font-size			: 15px;
	text-align			: center;
}

a {
	text-decoration		: none;
	font-weight			: bold;
	color				: #40641d;
}

a:hover {
	text-decoration		: underline;
	color				: #e31d39;
}

table {
	border-collapse		: separate;
	border-spacing		: 10px 20px;
}

h1, h2, h3 {padding-top: 3px; padding-bottom: 3px; font-weight: bold;}

h1 {font-size: 25px;}
h2 {font-size: 20px;}
h3 {font-size: 17px;}

.curpt {cursor		: pointer;}
.bold {font-weight		: bold;}
.margins10  {margin		: 10px;}
.padtbt5 {	padding-top		: 5px;
			padding-bottom	: 5px;}


/* En-tête */
#banniere
{
	height				: 150px;
	width				: 550px;
	margin				: auto;
	background-image	: url('../../images/titreLT.png');
	background-repeat	: no-repeat;
}

#logo {
	position			: absolute;
	width				: 250px;
	height				: 150px;
}

#sonetconnexion {
	position		: absolute;
	top				: 10px;
	right			: 20px;
	width			: 300px;
}

#son, #connexion {
	margin-right		: 20px;
	margin-top			: 10px;
}

#connexion {
	background-color	:#FFFFFF;
	font-size			: 12px;
}

#contenant, #pied_de_page {
	overflow	: auto;
	width		: 100%;
	float		: left;
}

/* La navigation */
#navigation
{
	margin-top			: 20px;
}

/* Le corps de page (la partie principale quoi ^^) : */
#corps
{
	margin-top			: 10px;
	margin-bottom		: 10px;
	padding				: 10px;
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) : */
#pied_de_page
{
	padding				: 10px;
	margin-top			: 20px;
	text-align			: left;
	font-size			: 11px;
}
