{% extends "LibertribesGameBundle::layout.html.twig" %}

{% block title %} {{ parent() }} L'Histoire {% endblock %}
{% block connexion %}Infos connexions {{username}} {% endblock %}
{% block navigation %}

        {% for key,value in navigation|items %}
            <a class="menugame" href="{{ value }}">{{ key }}</a>
        {% endfor %}
{% endblock %}
{% block body %}

	<h2>Histoire </h2>
	
	
{% endblock %}
