{% extends "LibertribesGameBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Règles du jeu {% endblock %}
{% block connexion %}Infos connexions {{username}} {% endblock %}
{% block navigation %}

        {% for key,value in navigation %}
            <a class="menugame" href="{{ value }}">{{ key }}</a>
        {% endfor %}
{% endblock %}
{% block body %}

	<h2>Règles du jeu </h2>
	
	
{% endblock %}
