{% extends "LibertribesGameBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Le Jeu{% endblock %}
{% block connexion %}Infos connexions{{username}}{% endblock %}
{% block navigation %}

	<h2>Ici la navigation</h2>
	

	
{% endblock %}
{% block body %}

	<h2>Le Jeu</h2>
Voici la carte
	
{% endblock %}
