{% extends "LibertribesGameBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}

	<h2>Inscription ou Login au jeu</h2>
	
Pas encore inscrits? Cliquez <a class="" href="{{ path('account_create') }}"> ici </a><br/>
Sinon, <br/>
connectez-vous<br/>
formulaire de connexion
	
{% endblock %}
