{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} Commerce{% endblock %}
{% block stylesheet %} 
	<link rel="stylesheet" href="../public/css/stylecom.css" type="text/css" media="screen" />
{% endblock %}
{% block javascript %} 
{% endblock %}
{% block entete %}
	<div id="banniere">
		<div id="logo">
			LOGO
		</div>
		<div id="connexionforum">
			Infos connexions et Vers Forum
		</div>
		<div id="son">
			Barre son
		</div>
	</div>
{% endblock %}
